@import url('https://fonts.googleapis.com/css?family=Courier+Prime');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html, body {
    height: 100%;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

header.nav { 
    font-weight: bold;
    display: block;
    float: left;
    font-size: 14px;
    padding: 10px 16px 0 16px;
}

header.nav > * {
    display: block;
    float: left;
    padding-right: 16px;
}

header.nav a.current {
    /* text-decoration: underline; */
    font-weight: 500;
}

/* header.nav a.active:visited {
    text-decoration: underline;
} */

body {
    background-color: rgb(212, 199, 226);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    /* -webkit-text-size-adjust: 100%; */
}

.main h1{
    font-size:30px;
}

.main img {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}


.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: black;
}

footer {
    padding: 0 18px 14px 18px;
}

footer.end {
    display: block;
    float: left;
    padding-right: 12px;
}

.links {
    flex: 1;
    display:flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    font-size: 15px;
}

.links a, a:visited{
    color:black;
}

.links li {
    list-style-type: none;
}

.frontart {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

