html, body {
    height: 100%;
}

header.nav {
    font-weight: bold;
    display: block;
    float: left;
    font-size: 14px;
}

body {
    background-color: gainsboro;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    /* -webkit-text-size-adjust: 100%; */
}

.main h1{
    font-size:30px;
}

.main img {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}


.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: black;
}

footer {
    padding: 0 18px 14px 18px;
}

footer.end {
    display: block;
    float: left;
    padding-right: 12px;
}

.links {
    flex: 1;
    display:flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    font-size: 15px;
}

.links li{
    list-style: none;
}

/* .frontart {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
} */

